/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/06/2017, 15:54:51
    Author     : filipe_oliveira
*/

body{
    background-image: url("../img/fundo.png");
    /*background-size: 100%;*/
     background-size: 100%;
    	background-attachment: fixed;
}